00_gencode_mouse_models/
ensambl_mouse/
PoGo_v1.2.3/
2024-05-29_Tian_Aging_Mouse_SpliceProt/mouse_tissue_peptide_hits/
2024-05-29_Tian_Aging_Mouse_SpliceProt/gencode_mouse_models/
2024-05-29_Tian_Aging_Mouse_SpliceProt/output/
peptide_list/
05_peptide_to_isoform_mapping/
PoGo_output/