00_2024-05-29_Tian_Aging_Mouse_SpliceProt/
00_2024-05-29_Tian_Aging_Mouse_SpliceProt/mouse_tissue_peptide_hits/
00_gencode_mouse_models/
02_GTF_FASTA_2PoGo/CORRECTED_PoGo_compatible.fasta
02_GTF_FASTA_2PoGo/CORRECTED_with_cds_PoGo_compatible.gtf
LRP/01_isoseq/
LRP/01_reference_tables/
LRP/02_sqanti/
LRP/04_CPAT/
LRP/04_transcriptome_summmary/
LRP/05_orf_calling/
LRP/06_refine_orf_database/
LRP/07_make_cds_gtf/
orf_calling_latest.sif
pb-cds-gtf_latest.sif
generate-reference-tables_latest.sif
00_2024-05-29_Tian_Aging_Mouse_SpliceProt/output/05_peptide_to_isoform_mapping/tryptic_peptide_to_mouse_protein_mapping.csv
00_2024-05-29_Tian_Aging_Mouse_SpliceProt/output/06_isoform_annotation_of_experi_peptides/peptide_to_isoform_mapping_with_experimental_peptides.csv
00_2024-05-29_Tian_Aging_Mouse_SpliceProt/mouse_tissue_peptide_hits/pq31153.csv
00_2024-05-29_Tian_Aging_Mouse_SpliceProt/mouse_tissue_peptide_hits/pq31193.csv
00_2024-05-29_Tian_Aging_Mouse_SpliceProt/mouse_tissue_peptide_hits/pq31194.csv
00_2024-05-29_Tian_Aging_Mouse_SpliceProt/mouse_tissue_peptide_hits/pq31153.csv
00_2024-05-29_Tian_Aging_Mouse_SpliceProt/mouse_tissue_peptide_hits/pq31190.csv